Repository M-Scott-Lassiter/jest-geojson: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
    "**/*.{js,ts}": ["npm run lint"],
    "**/*.{js,jsx,ts,tsx,json,html,css,scss,md,yml}": ["npm run format"]
}

ci: create Github templates and policies
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
Due: npm run format

docs(contributing): create a project road map
  ROADMAP.md
Due: npm run format

docs: update roadmap matchers and descriptions
  ROADMAP.md
Due: npm run format

ci: update Github issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new_matcher_request.yml
Due: npm run format

ci: fix issue with new matcher request name
  .github/ISSUE_TEMPLATE/new_matcher_request.yml
Due: npm run format

consolidate points and coordinates
  ROADMAP.md
Due: npm run format

create a new matcher issue template
  .github/ISSUE_TEMPLATE/new_matcher_request.md
Due: npm run format

ci: delete the new matcher .yml template
  .github/ISSUE_TEMPLATE/new_matcher_request.yml
Due: npm run format

ci: delete feature request template
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: npm run format

test: setup the project testing framework
  jest.config.js
  src/JestSetup.js
Due: npm run lint, npm run format

docs(api): construct framework for index.js
  src/index.js
Due: npm run lint, npm run format

ci: format update for example
  .github/ISSUE_TEMPLATE/new_matcher_request.md
Due: npm run format

docs(contributing): update contributing guidance and document project structure
  .cz-config.js
  CONTRIBUTING.md
Due: npm run lint, npm run format

feat(isValid2DCoordinate): add new matcher function
  package.json
  src/index.js
  src/matchers/coordinates/isValid2DCoordinate.js
  tests/coordinates/__snapshots__/isValid2DCoordinate.test.js.snap
  tests/coordinates/isValid2DCoordinate.test.js
Due: npm run lint, npm run format

docs(contributing): update the contributing guidelines to document commit enhancements and testing methodology
  CONTRIBUTING.md
Due: npm run format

docs(isValid2DCoordinate): fix typo in pass and error messages
  src/matchers/coordinates/isValid2DCoordinate.js
  tests/coordinates/__snapshots__/isValid2DCoordinate.test.js.snap
Due: npm run lint, npm run format

refactor(isValid2DCoordinate): consolidate the 'arrays nested too deeply' test for readability
  tests/coordinates/isValid2DCoordinate.test.js
Due: npm run lint, npm run format

refactor(tests): provide a structure for writing matcher tests
  CONTRIBUTING.md
  tests/coordinates/__snapshots__/isValid2DCoordinate.test.js.snap
  tests/coordinates/isValid2DCoordinate.test.js
Due: npm run lint, npm run format

feat(isValid3DCoordinate): add new matcher function
  package.json
  src/index.js
  src/matchers/coordinates/isValid3DCoordinate.js
  tests/coordinates/__snapshots__/isValid3DCoordinate.test.js.snap
  tests/coordinates/isValid3DCoordinate.test.js
Due: npm run lint, npm run format

ci: prepare the CI/CD pipeline for publishing beta releases
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
  release.config.js
Due: npm run lint, npm run format

ci: change from Linux to Windows for Github CD test runner environment
  .github/workflows/publish.yml
Due: npm run format

ci: remove the build step from the publish script
  .github/workflows/publish.yml
Due: npm run format

build: add conventional-changelog-conventionalcommits as dev dependency
  package-lock.json
  package.json
Due: npm run format

docs: 1.0.0-beta.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  37a337775a7635d6313804184d53353c19578293
Due: none

build: move release configuration into a separate shareable file
  package-lock.json
  package.json
  release.config.js
Due: npm run lint, npm run format

ci: restore the build step into the publish script
  .github/workflows/publish.yml
Due: npm run format

ci: clean up the publish and test CI/CD scripts
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: npm run format

build(package): update the commitizen config for customized scopes
  .cz-config.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

docs(readme): merge ROADMAP.md into README.md
  README.md
  ROADMAP.md
Due: npm run format

docs(contributing): update contributing guidance for folder structure and commits
  CONTRIBUTING.md
  README.md
Due: npm run format

docs(contributing): update new matcher search link
  CONTRIBUTING.md
Due: npm run format

docs(readme): add link to milestone version 1.0.0
  README.md
Due: npm run format

refactor: modify valid 2D and 3D coordinate functions to throw errors instead of return false
  src/index.js
  src/matchers/coordinates/isValid2DCoordinate.js
  src/matchers/coordinates/isValid3DCoordinate.js
  tests/coordinates/__snapshots__/isValid2DCoordinate.test.js.snap
  tests/coordinates/__snapshots__/isValid3DCoordinate.test.js.snap
Due: npm run lint, npm run format

refactor: split the core functionality into its own subfolder under src
  CONTRIBUTING.md
  src/core/coordinates/valid2DCoordinate.js
  src/core/coordinates/valid3DCoordinate.js
  src/matchers/coordinates/isValid2DCoordinate.js
  src/matchers/coordinates/isValid3DCoordinate.js
Due: npm run lint, npm run format

feat(isValidCoordinate): add new matcher function
  src/core/coordinates/validCoordinate.js
  src/index.js
  src/matchers/coordinates/isValid2DCoordinate.js
  src/matchers/coordinates/isValidCoordinate.js
  tests/coordinates/__snapshots__/isValidCoordinate.test.js.snap
  tests/coordinates/isValid2DCoordinate.test.js
  tests/coordinates/isValid3DCoordinate.test.js
  tests/coordinates/isValidCoordinate.test.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  8f45be708c8f38f46e4ad13d279673d122a24a4f
Due: none

docs(readme): update link and check off isValidCoordinate matcher
  README.md
Due: npm run format

ci: add beta to the test.yml push actions for beta release testing
  .github/workflows/test.yml
Due: npm run format
