Repository M-Scott-Lassiter/jest-geojson: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

docs: 1.0.0-beta.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  4db12b0aa222738a6533c75d0f2b17ba91d5b7ac
Due: none

feat(toBeLineStringGeometry): add new matcher
  .cz-config.js
  CONTRIBUTING.md
  README.md
  src/core.js
  src/core/geometries/lineStringGeometry.js
  src/core/geometries/multiPointGeometry.js
  src/matchers.js
  src/matchers/geometries/toBeLineStringGeometry.js
  tests/core.test.js
  tests/geometries/__snapshots__/toBeLineStringGeometry.test.js.snap
  tests/geometries/toBeLineStringGeometry.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

api: change JSDoc param types to avoid using GeoJSON unknown types
  src/core/boundingBoxes/valid2DBoundingBox.js
  src/core/boundingBoxes/valid3DBoundingBox.js
  src/core/boundingBoxes/validBoundingBox.js
  src/core/coordinates/valid2DCoordinate.js
  src/core/coordinates/valid3DCoordinate.js
  src/core/coordinates/validCoordinate.js
  src/core/geometries/multiPointGeometry.js
  src/core/geometries/pointGeometry.js
  src/matchers/geometries/toBePointGeometry.js
Due: npm run lint, npm run format

docs(contributing): update new submission checklist, reorganize project structure, clarify script purposes
  CONTRIBUTING.md
Due: npm run format

ci(publish): add the CODECOV_TOKEN variable
  .github/workflows/publish.yml
Due: npm run format

ci(publish): fix invalid yml formatting
  .github/workflows/publish.yml
Due: npm run format

docs: 1.0.0-beta.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  b21df9aa19c4b1769e940ed380423e763fa1eacc
Due: none

ci(publish): add files to codecov action
  .github/workflows/publish.yml
Due: npm run format

ci(publish): replace files with flags for codecov action
  .github/workflows/publish.yml
Due: npm run format

docs(readme): update badge orders and codecov target
  README.md
Due: npm run format

docs(readme): sync main branch with beta
  README.md
Due: npm run format

test(toBeLineStringGeometry): add a stress test with many points
  tests/geometries/toBeLineStringGeometry.test.js
Due: npm run lint, npm run format

fix(toBeLineStringGeometry): prohibit single coordinate in "coordinates" member
  src/core/geometries/lineStringGeometry.js
  src/matchers/geometries/toBeLineStringGeometry.js
  tests/geometries/__snapshots__/toBeLineStringGeometry.test.js.snap
  tests/geometries/toBeLineStringGeometry.test.js
Due: npm run lint, npm run format

feat(toBeMultiLineStringGeometry): add new matcher
  .cz-config.js
  README.md
  src/core.js
  src/core/geometries/lineStringGeometry.js
  src/core/geometries/multiLineStringGeometry.js
  src/core/geometries/multiPointGeometry.js
  src/matchers.js
  src/matchers/geometries/toBeLineStringGeometry.js
  src/matchers/geometries/toBeMultiLineStringGeometry.js
  tests/core.test.js
  tests/geometries/__snapshots__/toBeMultiLineStringGeometry.test.js.snap
  tests/geometries/toBeLineStringGeometry.test.js
  tests/geometries/toBeMultiLineStringGeometry.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

Notes added by 'git notes add'
  991b3c65ad74c9dff2f09573d6067e379125719d
Due: none

docs: 1.0.0-beta.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

refactor(toBeMultiLineStringGeometry): reduced excessive number of array brackets by consolidating from the data to the test function
  tests/geometries/toBeMultiLineStringGeometry.test.js
Due: npm run lint, npm run format

api(toBeMultiLineStringGeometry): add the min point count error to the JSDoc API
  src/core/geometries/multiLineStringGeometry.js
Due: npm run lint, npm run format

test(toBeMultiPointGeometry): fix typo in test and core function that was omitting coverage
  src/core/geometries/multiLineStringGeometry.js
  tests/geometries/toBeMultiLineStringGeometry.test.js
Due: npm run lint, npm run format

test(toBeMultiLineStringGeometry): fix coordinate out of range test that
  src/core/geometries/multiLineStringGeometry.js
  tests/geometries/toBeMultiLineStringGeometry.test.js
Due: npm run lint, npm run format

feat(toBePolygonGeometry): add new matcher
  .cz-config.js
  README.md
  src/core.js
  src/core/geometries/polygonGeometry.js
  src/matchers.js
  src/matchers/geometries/toBePolygonGeometry.js
  tests/core.test.js
  tests/geometries/__snapshots__/toBePolygonGeometry.test.js.snap
  tests/geometries/toBeMultiLineStringGeometry.test.js
  tests/geometries/toBePolygonGeometry.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  55b04ef7c818c9d0d12d2acdda9054007c4bd865
Due: none

feat(toBeMultiPolygonGeometry): add new matcher
  .cz-config.js
  README.md
  src/core.js
  src/core/geometries/multiPolygonGeometry.js
  src/matchers.js
  src/matchers/geometries/toBeMultiPolygonGeometry.js
  tests/core.test.js
  tests/geometries/__snapshots__/toBeMultiPolygonGeometry.test.js.snap
  tests/geometries/toBeMultiPolygonGeometry.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  6552a356e25bc730c54a6d840624796a6dc1eee6
Due: none

refactor(toBePolygonGeometry): reorganize the coordinates testing into forEach loops instead of nested for loops
  src/core/geometries/polygonGeometry.js
Due: npm run lint, npm run format

refactor(isValidBoundingBox): reorganize array length checker for clarity
  src/core/boundingBoxes/validBoundingBox.js
Due: npm run lint, npm run format

feat(toBeAnyGeometry): add new matcher
  .cz-config.js
  README.md
  src/core.js
  src/core/geometries/anyGeometry.js
  src/matchers.js
  src/matchers/geometries/toBeAnyGeometry.js
  tests/core.test.js
  tests/geometries/__snapshots__/toBeAnyGeometry.test.js.snap
  tests/geometries/toBeAnyGeometry.test.js
  tests/geometries/toBeLineStringGeometry.test.js
  tests/geometries/toBeMultiLineStringGeometry.test.js
  tests/geometries/toBeMultiPointGeometry.test.js
  tests/geometries/toBeMultiPolygonGeometry.test.js
  tests/geometries/toBePointGeometry.test.js
  tests/geometries/toBePolygonGeometry.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

api(all): cleanup JSDoc formatting and standardize API examples
  CONTRIBUTING.md
  README.md
  src/core/boundingBoxes/valid2DBoundingBox.js
  src/core/boundingBoxes/valid3DBoundingBox.js
  src/core/boundingBoxes/validBoundingBox.js
  src/core/coordinates/valid2DCoordinate.js
  src/core/coordinates/valid3DCoordinate.js
  src/core/coordinates/validCoordinate.js
  src/core/geometries/anyGeometry.js
  src/core/geometries/lineStringGeometry.js
  src/core/geometries/multiLineStringGeometry.js
  src/core/geometries/multiPointGeometry.js
  src/core/geometries/multiPolygonGeometry.js
  src/core/geometries/pointGeometry.js
  src/core/geometries/polygonGeometry.js
  src/matchers/boundingBoxes/isValid2DBoundingBox.js
  src/matchers/boundingBoxes/isValid3DBoundingBox.js
  src/matchers/boundingBoxes/isValidBoundingBox.js
  src/matchers/coordinates/isValid2DCoordinate.js
  src/matchers/coordinates/isValid3DCoordinate.js
  src/matchers/coordinates/isValidCoordinate.js
  src/matchers/geometries/toBeAnyGeometry.js
  src/matchers/geometries/toBeLineStringGeometry.js
  src/matchers/geometries/toBeMultiLineStringGeometry.js
  src/matchers/geometries/toBeMultiPointGeometry.js
  src/matchers/geometries/toBeMultiPolygonGeometry.js
  src/matchers/geometries/toBePointGeometry.js
  src/matchers/geometries/toBePolygonGeometry.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  c3513b4045742626a602ee60a23b0fa882396e02
Due: none

docs(readme): consolidate GeometryCollection into Geometries
  README.md
  src/matchers.js
Due: npm run lint, npm run format

feat(toBeGeometryCollection): add new matcher
  .cz-config.js
  README.md
  src/core.js
  src/core/geometries/anyGeometry.js
  src/core/geometries/geometryCollection.js
  src/core/geometries/lineStringGeometry.js
  src/core/geometries/multiLineStringGeometry.js
  src/core/geometries/multiPolygonGeometry.js
  src/matchers.js
  src/matchers/geometries/toBeAnyGeometry.js
  src/matchers/geometries/toBeGeometryCollection.js
  tests/core.test.js
  tests/geometries/__snapshots__/toBeAnyGeometry.test.js.snap
  tests/geometries/__snapshots__/toBeGeometryCollection.test.js.snap
  tests/geometries/toBeAnyGeometry.test.js
  tests/geometries/toBeGeometryCollection.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  0ebcf0468a50bc7a7ca110e51840b2043882efbd
Due: none

docs(readme): update planned matcher list
  README.md
Due: npm run format

Path conditions:
  npm run lint: any of: **/*.{js,ts}
  npm run format: any of: **/*.{js,jsx,ts,tsx,json,html,css,scss,md,yml}
