Repository M-Scott-Lassiter/jest-geojson: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
    "**/*.{js,ts}": ["npm run lint"],
    "**/*.{js,jsx,ts,tsx,json,html,css,scss,md,yml}": ["npm run format"]
}

docs(contributing): update contributing guidance and documentation
  .cz-config.js
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/index.html
Due: npm run lint, npm run format

docs(readme): update name to proper capitalization instead of all lowercase
  CONTRIBUTING.md
  README.md
  docs/index.html
Due: npm run format

docs: 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  46352a29006ba57d832b8fbc63d4fcbc8d351e89
Due: none

docs(readme): add project banner logo
  README.md
  banner.png
Due: npm run format

docs(readme): rearrange badges, remove package size
  README.md
Due: npm run format

feat(toHaveID): add new matcher
  .cz-config.js
  README.md
  docs/Core.Features.html
  docs/core_features_hasID.js.html
  docs/index.html
  docs/matchers_features_toHaveID.js.html
  src/core.js
  src/core/features/hasID.js
  src/matchers.js
  src/matchers/features/toHaveID.js
  tests/core.test.js
  tests/features/__snapshots__/toHaveID.test.js.snap
  tests/features/toHaveID.test.js
  tests/geometries/data.js
  tests/matchers.test.js
Due: npm run lint, npm run format

api(toHaveID): fix documentation typo.
  docs/Matchers.Features.html
  docs/index.html
  docs/matchers_features_toHaveID.js.html
  src/matchers/features/toHaveID.js
Due: npm run lint, npm run format

docs: add social preview PNG image
  images/banner.png
Due: none

Notes added by 'git notes add'
  428faa46dd8b7d8c10a009f76a07aeb90f422869
Due: none

docs: 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

docs(readme): change banner image link to absolute link to support documentation
  README.md
Due: npm run format

refactor(toHaveStringID): remove duplicated example prior to initial matcher publication
  docs/Matchers.Features.html
  docs/matchers_features_toHaveStringID.js.html
  src/matchers/features/toHaveStringID.js
Due: npm run lint, npm run format

docs: 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  397d8ef94e7dd05ff6a43477468a8123749d4103
Due: none

feat: add Typescript support for the matchers
  .github/PULL_REQUEST_TEMPLATE.md
  .lintstagedrc
  CONTRIBUTING.md
  README.md
  docs/Matchers.Functional.html
  docs/Matchers.Geometries.html
  docs/index.html
  docs/matchers_functional_toBeValidGeoJSON.js.html
  docs/matchers_geometries_toBeAnyGeometry.js.html
  docs/matchers_geometries_toBeGeometryCollection.js.html
  global.d.ts
  package.json
  src/index.d.ts
  src/matchers/functional/toBeValidGeoJSON.js
  src/matchers/geometries/toBeAnyGeometry.js
  src/matchers/geometries/toBeGeometryCollection.js
  tsconfig.json
Due: npm run lint, npm run format

ci(templates): add enhancement request template, update others
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/enhancement_request.yml
  .github/ISSUE_TEMPLATE/new_matcher_request.md
Due: npm run format

refactor(toBeMultiPolygonWithHole): add Typescript definition to index.d.ts
  src/index.d.ts
Due: npm run lint, npm run format

docs: 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  6998c8a3c02534c7027e50be39b3bdae2d027150
Due: none

ci(templates): clean up new matcher checklist
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: npm run format

ci: remove the unused "hooks" from Commitizen CI scope overrides
  .cz-config.js
Due: npm run lint, npm run format

Notes added by 'git notes add'
  6a31a48013364d189eb6b69f300f29dd7502efe9
Due: none

docs: 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

api(toHaveGeometryCount): improve error messages and description for nested GeometryCollections behavior
  docs/Matchers.Geometries.html
  docs/matchers_geometries_toHaveGeometryCount.js.html
  src/index.d.ts
  src/matchers/geometries/toHaveGeometryCount.js
  tests/geometries/__snapshots__/toHaveGeometryCount.test.js.snap
Due: npm run lint, npm run format

fix(toHaveGeometryCount): correct issue where empty collections would fail when provided with a valid range
  docs/Matchers.Geometries.html
  docs/matchers_geometries_toHaveGeometryCount.js.html
  src/index.d.ts
  src/matchers/geometries/toHaveGeometryCount.js
  tests/geometries/__snapshots__/toHaveGeometryCount.test.js.snap
  tests/geometries/toHaveGeometryCount.test.js
Due: npm run lint, npm run format

docs: 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  3a87b4232638a61b751e616f0b53dfc4704f9c3a
Due: none
