Repository M-Scott-Lassiter/jest-geojson: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
    "**/*.{js,ts}": ["npm run lint"],
    "**/*.{js,jsx,ts,tsx,json,html,css,scss,md,yml}": ["npm run format"]
}

fix: add bounding box validity checking to geometry core functions and matchers
  src/core/geometries/anyGeometry.js
  src/core/geometries/geometryCollection.js
  src/core/geometries/lineStringGeometry.js
  src/core/geometries/multiLineStringGeometry.js
  src/core/geometries/multiPointGeometry.js
  src/core/geometries/multiPolygonGeometry.js
  src/core/geometries/pointGeometry.js
  src/core/geometries/polygonGeometry.js
  tests/geometries/toBeGeometryCollection.test.js
  tests/geometries/toBeLineStringGeometry.test.js
  tests/geometries/toBeMultiLineStringGeometry.test.js
  tests/geometries/toBeMultiPointGeometry.test.js
  tests/geometries/toBeMultiPolygonGeometry.test.js
  tests/geometries/toBePointGeometry.test.js
  tests/geometries/toBePolygonGeometry.test.js
Due: npm run lint, npm run format

refactor: moved common geometry validation to a single utility function
  src/core.js
  src/core/geometries/anyGeometry.js
  src/core/geometries/geometryCollection.js
  src/core/geometries/lineStringGeometry.js
  src/core/geometries/multiLineStringGeometry.js
  src/core/geometries/multiPointGeometry.js
  src/core/geometries/multiPolygonGeometry.js
  src/core/geometries/pointGeometry.js
  src/core/geometries/polygonGeometry.js
  src/core/utilities.js
  src/matchers/geometries/toBeGeometryCollection.js
  src/matchers/geometries/toBeLineStringGeometry.js
  src/matchers/geometries/toBeMultiLineStringGeometry.js
  src/matchers/geometries/toBeMultiPointGeometry.js
  src/matchers/geometries/toBeMultiPolygonGeometry.js
  src/matchers/geometries/toBePointGeometry.js
  src/matchers/geometries/toBePolygonGeometry.js
  src/typedefinitions.js
  tests/core.test.js
  tests/geometries/__snapshots__/toBeAnyGeometry.test.js.snap
  tests/geometries/__snapshots__/toBeGeometryCollection.test.js.snap
  tests/geometries/__snapshots__/toBeLineStringGeometry.test.js.snap
  tests/geometries/__snapshots__/toBeMultiLineStringGeometry.test.js.snap
  tests/geometries/__snapshots__/toBeMultiPointGeometry.test.js.snap
  tests/geometries/__snapshots__/toBeMultiPolygonGeometry.test.js.snap
  tests/geometries/__snapshots__/toBePointGeometry.test.js.snap
  tests/geometries/__snapshots__/toBePolygonGeometry.test.js.snap
  tests/geometries/toBeGeometryCollection.test.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  53b6734420d26ca21282b67f0819cff8c7837d0e
Due: none

docs: manually update changelog for cleanup
  CHANGELOG.md
Due: npm run format

test(toBeGeometryCollection): add an unrecognizable geometry to the invalid tests
  tests/geometries/toBeGeometryCollection.test.js
Due: npm run lint, npm run format

feat(toBeFeature): add new matcher
  .cz-config.js
  CONTRIBUTING.md
  README.md
  package.json
  src/core.js
  src/core/features/feature.js
  src/matchers.js
  src/matchers/features/toBeFeature.js
  src/setup/all.js
  src/setup/features.js
  src/typedefinitions.js
  tests/core.test.js
  tests/features/__snapshots__/toBeFeature.test.js.snap
  tests/features/toBeFeature.test.js
  tests/geometries/data.js
  tests/geometries/toBeGeometryCollection.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

test(toBePointGeometry): add robust snapshot tests
  tests/geometries/__snapshots__/toBePointGeometry.test.js.snap
  tests/geometries/toBePointGeometry.test.js
Due: npm run lint, npm run format

test(toBeMultiPointGeometry): add robust snapshot tests
  tests/geometries/__snapshots__/toBeMultiPointGeometry.test.js.snap
  tests/geometries/toBeMultiPointGeometry.test.js
Due: npm run lint, npm run format

test(toBeLineStringGeometry): add robust snapshot tests
  tests/geometries/__snapshots__/toBeLineStringGeometry.test.js.snap
  tests/geometries/toBeLineStringGeometry.test.js
Due: npm run lint, npm run format

test(toBeMultiLineStringGeometry): add robust snapshot tests
  tests/geometries/__snapshots__/toBeMultiLineStringGeometry.test.js.snap
  tests/geometries/toBeMultiLineStringGeometry.test.js
Due: npm run lint, npm run format

test(toBePolygonGeometry): add robust snapshot tests
  tests/geometries/__snapshots__/toBePolygonGeometry.test.js.snap
  tests/geometries/toBePolygonGeometry.test.js
Due: npm run lint, npm run format

test(toBeMultiPolygonGeometry): add robust snapshot tests
  tests/geometries/__snapshots__/toBeMultiPolygonGeometry.test.js.snap
  tests/geometries/toBeMultiPolygonGeometry.test.js
Due: npm run lint, npm run format

test(toBeGeometryCollection): add robust snapshot tests, verify coordinates treated as foreign member
  tests/geometries/__snapshots__/toBeGeometryCollection.test.js.snap
  tests/geometries/toBeGeometryCollection.test.js
Due: npm run lint, npm run format

test(toBeAnyGeometry): add robust snapshot tests
  tests/geometries/__snapshots__/toBeAnyGeometry.test.js.snap
  tests/geometries/toBeAnyGeometry.test.js
Due: npm run lint, npm run format

test(isValid2DCoordinate): add robust snapshot tests
  tests/coordinates/__snapshots__/isValid2DCoordinate.test.js.snap
  tests/coordinates/isValid2DCoordinate.test.js
Due: npm run lint, npm run format

test(isValid3DCoordinate): add robust snapshot tests
  tests/coordinates/__snapshots__/isValid3DCoordinate.test.js.snap
  tests/coordinates/isValid3DCoordinate.test.js
Due: npm run lint, npm run format

test(isValidCoordinate): add robust snapshot tests
  tests/coordinates/__snapshots__/isValidCoordinate.test.js.snap
  tests/coordinates/isValidCoordinate.test.js
Due: npm run lint, npm run format

test(isValid2DBoundingBox): add robust snapshot tests
  tests/boundingBoxes/__snapshots__/isValid2DBoundingBox.test.js.snap
  tests/boundingBoxes/isValid2DBoundingBox.test.js
Due: npm run lint, npm run format

test(isValid3DBoundingBox): add robust snapshot tests
  src/core/boundingBoxes/valid3DBoundingBox.js
  tests/boundingBoxes/__snapshots__/isValid3DBoundingBox.test.js.snap
  tests/boundingBoxes/isValid3DBoundingBox.test.js
Due: npm run lint, npm run format

test(isValidBoundingBox): add robust snapshot tests
  tests/boundingBoxes/__snapshots__/isValidBoundingBox.test.js.snap
  tests/boundingBoxes/isValidBoundingBox.test.js
Due: npm run lint, npm run format

test: add 'Feature' and 'FeatureCollection' to test list of disallowed geometry type values
  tests/features/toBeFeature.test.js
  tests/geometries/toBeGeometryCollection.test.js
  tests/geometries/toBeLineStringGeometry.test.js
  tests/geometries/toBeMultiLineStringGeometry.test.js
  tests/geometries/toBeMultiPointGeometry.test.js
  tests/geometries/toBeMultiPolygonGeometry.test.js
  tests/geometries/toBePointGeometry.test.js
  tests/geometries/toBePolygonGeometry.test.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.15 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  bcfb91e5fad1d8f4c3aee30940de21e76f08c6fb
Due: none

feat(toBeFeatureCollection): add new matcher
  .cz-config.js
  README.md
  package.json
  src/core.js
  src/core/featureCollections/featureCollection.js
  src/matchers.js
  src/matchers/featureCollections/toBeFeatureCollection.js
  src/setup/all.js
  src/setup/featureCollections.js
  src/typedefinitions.js
  tests/core.test.js
  tests/featureCollections/__snapshots__/toBeFeatureCollection.test.js.snap
  tests/featureCollections/toBeFeatureCollection.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.16 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  f59bba58ed399c97b488c127057e4ad2123c006d
Due: none

build(package): rename matcher loader entry script
  package.json
Due: npm run format

docs(readme): add advanced config, link to docs
  README.md
Due: npm run format

build(devDependencies): upgrade Jest to v28.1, specify peerDependency at >v24.0.0
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
Due: npm run format

docs(readme): update table of contents
  README.md
  docs/index.html
Due: npm run format

docs(readme): make final updates before v1.0.0 release
  README.md
  docs/index.html
  package.json
Due: npm run format

build(package): upgrade minimum required node version from 10 to 14 to match LTS schedule
  .github/workflows/test.yml
  README.md
  package.json
Due: npm run format

ci(test): troubleshoot failing test suite
  .github/workflows/test.yml
Due: npm run format

build(package): upgrade min required Node version to 16
  docs/index.html
  package.json
Due: npm run format

docs: 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  e990fa44ab8cc656cedd4c92a872c051da8a6f8b
Due: none
