Repository M-Scott-Lassiter/jest-geojson: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

ci: update Github issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
  .github/ISSUE_TEMPLATE/new_matcher_request.md
Due: npm run format

ci(test): add action to upload coverage to Codecov
  .github/workflows/test.yml
Due: npm run format

ci(test): add Node v10 for stress testing
  .github/workflows/test.yml
Due: npm run format

docs(readme): update codecov badge with correct token
  README.md
Due: npm run format

feat: split package exports into matcher and core functionality
  .cz-config.js
  README.md
  jest.config.js
  package.json
  src/JestSetup.js
  src/core.js
  src/matchers.js
  src/setup/all.js
  src/setup/coordinates.js
  src/typedefinitions.js
  tests/core.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

Notes added by 'git notes add'
  cc820424ed1c493ab5be4bb01f3b06c286806930
Due: none

docs: 1.0.0-beta.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

docs(readme): update main branch to match beta
  README.md
Due: npm run format

docs: update jest badge in CONTRIBUTING and README
  CONTRIBUTING.md
  README.md
Due: npm run format

docs(contributing): document new matcher add process with a submission checklist
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: npm run format

feat(isValid2DBoundingBox): add new matcher function
  .cz-config.js
  README.md
  package.json
  src/core.js
  src/core/boundingBoxes/valid2DBoundingBox.js
  src/matchers.js
  src/matchers/boundingBoxes/isValid2DBoundingBox.js
  src/setup/all.js
  src/setup/boundingBoxes.js
  src/typedefinitions.js
  tests/boundingBoxes/__snapshots__/isValid2DBoundingBox.test.js.snap
  tests/boundingBoxes/isValid2DBoundingBox.test.js
  tests/core.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

build(package): add entry points for all, boundingboxes, and coordinates
  package.json
Due: npm run format

docs(contributing): add the Commitizen config update to the new matcher submission checklist
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: npm run format

feat(isValid3DBoundingBox): add new matcher
  .cz-config.js
  src/core.js
  src/core/boundingBoxes/valid3DBoundingBox.js
  src/matchers.js
  src/matchers/boundingBoxes/isValid3DBoundingBox.js
  tests/boundingBoxes/__snapshots__/isValid3DBoundingBox.test.js.snap
  tests/boundingBoxes/isValid3DBoundingBox.test.js
  tests/core.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

test(isValid2DBoundingBox): fix typo in test descriptions
  tests/boundingBoxes/__snapshots__/isValid2DBoundingBox.test.js.snap
  tests/boundingBoxes/isValid2DBoundingBox.test.js
Due: npm run lint, npm run format

api: update JSDoc organization
  src/core/boundingBoxes/valid2DBoundingBox.js
  src/core/coordinates/valid2DCoordinate.js
  src/core/coordinates/valid3DCoordinate.js
  src/core/coordinates/validCoordinate.js
  src/matchers/boundingBoxes/isValid2DBoundingBox.js
  src/matchers/coordinates/isValid2DCoordinate.js
  src/matchers/coordinates/isValid3DCoordinate.js
  src/matchers/coordinates/isValidCoordinate.js
Due: npm run lint, npm run format

docs(readme): check off isValid3DBoundingBox
  README.md
Due: npm run format

docs: 1.0.0-beta.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  0db815eee0d6cfab367802e7350b8403f1d7e39b
Due: none

ci: move codecov action from test to publish script
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: npm run format

api: update JSDoc descriptions of coordinate core functions
  src/core/coordinates/valid2DCoordinate.js
  src/core/coordinates/valid3DCoordinate.js
  src/core/coordinates/validCoordinate.js
Due: npm run lint, npm run format

api(isValidCoordinate): update the error and parameter descriptions
  src/core/coordinates/validCoordinate.js
Due: npm run lint, npm run format

api(isValidCoordinate): update returns description
  src/core/coordinates/validCoordinate.js
Due: npm run lint, npm run format

feat(isValidBoundingBox): add new matcher
  .cz-config.js
  README.md
  src/core.js
  src/core/boundingBoxes/validBoundingBox.js
  src/matchers.js
  src/matchers/boundingBoxes/isValidBoundingBox.js
  tests/boundingBoxes/__snapshots__/isValidBoundingBox.test.js.snap
  tests/boundingBoxes/isValid2DBoundingBox.test.js
  tests/boundingBoxes/isValid3DBoundingBox.test.js
  tests/boundingBoxes/isValidBoundingBox.test.js
  tests/core.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  6d586b112181a23750c9aec880156fd8e72f433c
Due: none

ci(test): remove beta branch from push triggers
  .github/workflows/test.yml
Due: npm run format

docs(readme): reorganize badges and update their links to latest beta version
  README.md
Due: npm run format

docs(readme): change the initial release badge link to the milestone page
  README.md
Due: npm run format

docs(readme): sync main branch readme with beta
  README.md
Due: npm run format

docs(readme): improve mobile device readability
  README.md
Due: npm run format

docs(readme): simplify matcher headers and format with Prettier
  README.md
Due: npm run format

feat(toBePointGeometry): add new matcher
  .cz-config.js
  README.md
  package.json
  src/core.js
  src/core/boundingBoxes/valid2DBoundingBox.js
  src/core/boundingBoxes/valid3DBoundingBox.js
  src/core/boundingBoxes/validBoundingBox.js
  src/core/coordinates/valid2DCoordinate.js
  src/core/coordinates/valid3DCoordinate.js
  src/core/coordinates/validCoordinate.js
  src/core/geometries/pointGeometry.js
  src/matchers.js
  src/matchers/boundingBoxes/isValid2DBoundingBox.js
  src/matchers/boundingBoxes/isValid3DBoundingBox.js
  src/matchers/boundingBoxes/isValidBoundingBox.js
  src/matchers/coordinates/isValid2DCoordinate.js
  src/matchers/coordinates/isValid3DCoordinate.js
  src/matchers/coordinates/isValidCoordinate.js
  src/matchers/geometries/toBePointGeometry.js
  src/setup/all.js
  src/setup/geometries.js
  src/typedefinitions.js
  tests/boundingBoxes/__snapshots__/isValidBoundingBox.test.js.snap
  tests/coordinates/__snapshots__/isValid2DCoordinate.test.js.snap
  tests/coordinates/__snapshots__/isValid3DCoordinate.test.js.snap
  tests/coordinates/__snapshots__/isValidCoordinate.test.js.snap
  tests/geometries/__snapshots__/toBePointGeometry.test.js.snap
  tests/geometries/toBePointGeometry.test.js
Due: npm run lint, npm run format

docs: 1.0.0-beta.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  73c278902078383e6294ad01ea32274f58996b0e
Due: none

docs(readme): update completed issues badge
  README.md
Due: npm run format

docs(readme): sync main with beta branch
  README.md
Due: npm run format

docs(readme): fix broken core import example
  README.md
Due: npm run format

refactor: remove unnecessary white space for consistency
  tests/geometries/toBePointGeometry.test.js
Due: npm run lint, npm run format

feat(toBeMultiPointGeometry): add new matcher
  .cz-config.js
  CONTRIBUTING.md
  README.md
  src/core.js
  src/core/geometries/multiPointGeometry.js
  src/matchers.js
  src/matchers/geometries/toBeMultiPointGeometry.js
  tests/core.test.js
  tests/geometries/__snapshots__/toBeMultiPointGeometry.test.js.snap
  tests/geometries/toBeMultiPointGeometry.test.js
  tests/matchers.test.js
Due: npm run lint, npm run format

Path conditions:
  npm run lint: any of: **/*.{js,ts}
  npm run format: any of: **/*.{js,jsx,ts,tsx,json,html,css,scss,md,yml}
